# Maven

# Ignore build output
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Maven Wrapper ###
# Keep the maven wrapper jar committed to the repo; don't ignore it.
# (remove any previous ignore for .mvn/wrapper/maven-wrapper.jar)

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env
__pycache__/
.m2/
